.book-card {
  border: 1px solid rgba(230, 217, 217, 0.449);
  margin-inline: 8vw;
  padding: 20px;
  padding-top: 25px;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 3px rgba(229, 223, 223, 0.14);
}

.book-image {
  height: 228px;
}

hr {
  margin-top: 20px;
  margin-bottom: 15px;
  border-top: 1px solid rgba(232, 212, 212, 0.807);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.author {
  display: flex;
  gap: 15px;
}

.book-title, .book-author {
  margin: 0px;
  text-align: left;
}

.book-author {
  color:rgb(82, 87, 93);
}

.title-author {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px
}

.description {
  text-align: left;
  font-size: 11px;
}

.publication-target {
  text-align: left;
  margin-top: 30px;
}

.publication-target p {
  font-size: 9px;
  margin:0px;
}

.target {
  position: relative;
  width: 85%;
  height: 9px;
  border-radius: 8px;
  background-color: rgb(227, 227, 234);

}

.target-line {
  position: absolute;
  height: 100%;
  background-color: rgb(37, 106, 237);
  border-radius: 8px;
}

.target-percentage {
  display: flex;
  align-items: center;
  margin-top: 2px;
  gap: 5px;
}

.target-percentage p {
  font-size: 12px;
  font-weight: 600;
}

.objectif-atteint {
  color: rgb(115, 203, 81);
}

.book-card-footer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.book-card-footer h5 {
  margin: 0;
}

.preorder-btn {
  width: 172px;
  height: 42px;
}
